<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navigate.ejs %>
    <h1> ASSIGNMENT 1 </h1>
  </body>
</html>
