<html>
<head>
  <title>Logout Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <% include navigate.ejs %>
  <br>
  <h3>Successful Logout!</h3>

</body>
</html>