<!DOCTYPE html>
<html>

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script> -->

  <style type="text/css">
    .tg {
      border-collapse: collapse;
      border-spacing: 0;
    }

    .tg td {
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 10px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
    }

    .tg th {
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      padding: 10px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
    }

    .tg .tg-yw4l {
      vertical-align: top
    }
  </style>
</head>

<body>
  <% include navigate.ejs %>
    <h2> Welcome to User Profile page
      <%= locals.user.name %>
    </h2><br>

    <h3>LOGIN DETAILS</h3>
    <% var timeLog = locals.user.time.split("$$");
    for(var temp in timeLog){ %>
      <label><input type="text" name="timeLog" value="<%= timeLog[temp] %>"></label>
      <br>
      <% } %><br>
        <button onclick="myFunction()">STACK OVERFLOW</button><br>
        <script>
          function myFunction() {
            window.open("https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15");
          }
        </script>
        <br><br>

        <table class="tg">
          <tr>
            <th class="tg-yw4l">User Behavior</th>
            <th class="tg-yw4l">Reason for logging behavior </th>
          </tr>
          <tr>
            <td class="tg-yw4l">Ask Question</td>
            <td class="tg-yw4l">When user asks a question it shows the involvement in a specific field and how active she is on the discussion
              platform. We can also guage the topics of interest by capturing the key words and later recommend similar threads</td>
          </tr>
          <tr>
            <td class="tg-yw4l">Page Load</td>
            <td class="tg-yw4l">Used to track the pattern of navigation through pages. This information is useful to do path flow analysis to
              render better personalization</td>
          </tr>
          <tr>
            <td class="tg-yw4l">Comment</td>
            <td class="tg-yw4l">Tracking the comments of the user can help augment our understanding of the users knowledge and skill. Comments
              could be to correct, clarify, discuss the posted answers better.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">Star</td>
            <td class="tg-yw4l">Star indicates priority or pose significant to the user. This gives a quick update about the topics that the
              user could use regularly or look it up for later use.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">Vote Up</td>
            <td class="tg-yw4l">An up vote indicates the usefulness of the posted solution. It also indcates higher success rates which other
              peers can confidently follow thus, leading on the fellow peers correctly</td>
          </tr>
          <tr>
            <td class="tg-yw4l">Vote Down</td>
            <td class="tg-yw4l">A down vote on the answer can indicate unsatisfactory or incorrect results. This could send a message to the
              other viewers to check other legit answers.
            </td>
          </tr>
        </table>
        <br>
        <!-- <% var action = locals.user.actions.split("$$");   
    for(var temp in action){ %>
          <% var x = action[temp].split("#"); %>
            <% var a = x[0]; %>
              <% var b = x[1]; %>

                <label><input type="text" name="actionlog" size="30" value="<%= a %>"></label>
                <label><input type="text" name="timestamp" size="30" value="<%= b %>"></label>
                <br>
                <% } %> -->

                  <a class="btn btn-large btn-info" href="/userchart">VISUALIZE LOGGEDIN USERS</a>
                  <a class="btn btn-large btn-info" href="/compare">VISUALIZE ALL USERS</a>

                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
</body>

</html>